@media only screen and (max-width: 576px) {
    .menu{
        display: none;
    }

    .pagina_1{
        height: 70vh;
    }

    .banner{
        height: 25vh;
        justify-content: center !important;
    }

    .name span{
        font-size: 2rem;
    }

    .subname {
        font-size: 1rem;
    }
    
    .footer{
        height: 30vh;
    }

    .footer p{
        font-size: 10px;
    }

}