@media only screen and (max-width: 767px) {
    .scroll-container {
        overflow-y: auto; 
        padding: 0;
        margin: 0;
        overflow: scroll;
    }

    .menu{
        display: none;
    }

    .pagina_1{
        height: 70vh;
    }

    .banner{
        height: 25vh;
        justify-content: center !important;
    }

    .name span{
        font-size: 2rem;
    }

    .subname {
        font-size: 1rem;
    }
    
    .footer{
        height: 30vh;
    }

    .footer p{
        font-size: 10px;
    }

    /* PAGE 1 */
    .box h6{
        font-size: 12px;
    }

    .box p {
        font-size: 10px;
        margin: 4px;
    }

    .skill-boxes .box{
        width: 90%;
        height: fit-content;
    }

   .soft-skills{
        height: fit-content;
        justify-items: center;
    }

    .contact {
        height: 60vh;
    }

    .hard-skills {
        height: fit-content;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 1360px) and (min-width: 768px)  {
    .pagina_1{
        height: 75vh;
    }

    .box p{
        font-size: 10px !important;
    }

    .footer{
        height: 25vh;
    }

   .hard-box{
        width: 30vw !important;
       
    }
}


