@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --steps: 16;
}

/* 
fundo: #2F4858
amarelo: #F6AE2D
laranja: #F26419
*/

/* CONFIG PÁGINA */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; 
    background: rgb(51,101,138);
    background: linear-gradient(90deg, rgba(51,101,138,1) 0%, rgba(47,72,88,1) 100%);
}

.scroll-container {
    overflow-y: scroll; 
    scroll-snap-type: y mandatory;
    padding: 0;
    margin: 0;
}

.page {
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.pagina_1 {
    height: 80vh;
}

.pagina_2 {
    height: 100vh;
    background-color: white;
}

.background_azul {
    background: rgb(51,101,138);
    background: linear-gradient(90deg, rgba(51,101,138,1) 0%, rgba(47,72,88,1) 100%);
}

.background_white {
    background-color: white;
}



/* Atributes */
h3 {
    color: #F26419;
}

h4 {
    color: #F26419;
}

span{
    color: #FFF;
}

/* PÁGINA 1 */ 
.nav-board{
    height: 6vh;
}

.container{
    height: 60vh;
}

.footer{
    height: 20vh;
    width: 100%;
}

nav {
    display: flex;
} 

.nav-board{
    height: 6vh;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    opacity: 70%;
    top: 0;
    border: 0px;
    background-color: #2F4858;
}

.contact_icon{
    width: 30px;
}

.logo {
    font-family: "JetBrains Mono", monospace;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
    color: #F26419;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
    font-family: "JetBrains Mono", monospace;
    float: right;
}

.menu li {
    font-size: 1rem;
    float: left;
    text-align: center;
}

.menu li a {
    display: block; 
    color: white; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
}

.menu li a:hover {
    color: #F26419;
    text-decoration: underline;
}


/* PÁGINA 1 */
.banner{
    height: 60vh;
    display: flex;
    align-items: center;
    text-align: center;    
}

.circle img {
    background-color: #2F4858;
    border-radius: 50%;
    height: 200px;
    object-fit: cover;
    width: 200px;  
    box-shadow: 1px 1px 1px 1px #9b9a9a;
  }

.name {
    font-family: "JetBrains Mono";
    background: linear-gradient(45deg,  #F6AE2D ,#70afd6, #F26419, #55DDE0);
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 5s ease-in-out infinite;
    text-align: center;
    line-height: 0.9;
}

.name span{
    font-weight: 600;
    display: block;
    font-size: 4rem;
}

@keyframes animate{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.subname {
    color: #FFF;
    font-family: "JetBrains Mono", monospace;
    font-size: 1.2vw;
    margin-top: 0;
    text-shadow: 2px 2px 4px #202020
}

.subname::before{
    content: ""; 
    display: inline-block;
    width: 2vh; 
    height: 0.2vw; 
    background-color: #FFF;
    vertical-align: middle;
}

.subname::after{
    content: ""; 
    display: inline-block;
    width: 2vh; 
    height: 0.2vw; 
    background-color: #FFF;
    vertical-align: middle;
}

.footer{
    background-color: #F6AE2D;
}

.footer p {
    font-size: 12px;
    bottom: 0;
}

/* PÁGINA 2 */
.soft_skills{
    background-color: #F6AE2D;
}

.skill_boxes .box {
    background-color: #2F4858;
    text-align: center;
    margin: 20px;
}

.skill_boxes .box h6{    
    color:#FFF;
}


.skill_boxes .box p{
    font-size: 14px;
    justify-content: center;
    color: white;
}

